@media (max-width: 1212px) {
    .absoluteBlockRightAbout {
        right: 10px;
        top: -60px;
    }
    .blockAbsoluteText {
        font-size: 46px;
    }
    .blockRecommend {
        width: 300px;
        height: 125px;
    }
    .textBlockRecommend {
        font-size: 25px;
    }
    .iconBlockRecommend {
        bottom: 15px;
    }
    .iconBlockRecommendTwoRowText {
        bottom: 43px;
    }
    .media1212mr0 {
        margin-right: 0;
    }
    .media1212flex {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    .w50media1200 {
        width: 50%;
    }
    .mb90media1200 {
        margin-bottom: 90px;
    }
}

@media (max-width: 1152px) {
    .titleBLockQuestionsAndConsult {
        font-size: 32px;
    }

    .subtitleBLockQuestionsAndConsult {
        font-size: 20px;
    }

    .descriptionBLockQuestionsAndConsult {
        font-size: 14px;
    }

    .blockBtnBlockConsult a {
        font-size: 20px;
    }

    .offerBtnBLue {
        font-size: 14px;
    }

    .w447 {
        width: auto;
    }
    .fonTextAbout {
        width: 160.029px;
        height: 105.159px;
    }
    .absoluteBlockRightAbout {
        right: 12px;
        top: -100px;
    }
}

@media (max-width: 1127px) {
    .blockStep {
        width: 100%;
    }
    .stepBlockNumberRight {
        right: -38px;
    }
    .pr110media1127px {
        padding-right: 110px;
    }
}

@media (max-width: 1111px) {
    .itc-slider-item {
        width: 100%!important;
    }
    .h506slider2 {
        width: auto;
        height: 300px;
    }
    .cardGallery {
        width: 100%;
    }
    .iconTextRewiewsSlider2 {
        bottom: -60px;
        right: -30px;
    }
    .nameTextRewiews2 {
        right: -21px;
        top: 3px;
    }
    .sliderLicense25 {
        width: 25%!important;
    }
   .cardGallery {
       display: flex;
       justify-content: center;
   }
   .textGalleryJs {
       width: 70%;
   }
   .more {
       margin-bottom: 0;
       bottom: 70px;
   }
}

@media (max-width: 1075px) {
    .imageBlockOurProgramms img {
        width: 310px;
    }
    .imageLeftMain {
        padding-left: 0;
    }
    .blockTextOffer {
        width: auto;
    }
    .d-none1067 {
        display: none;
    }
    .fonQuestons {
        display: none;
    }
    .fon1067px {
        background-image: url(../img/questions/background.png);
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
    }
    .titleBLockQuestionsAndConsult {
        position: relative;
        top: unset;
        left: unset;
        margin-bottom: 24px;
    }
    .blockTextConsultAndQuestions {
        padding-bottom: 20px;
    }
    .pMedia1067px {
        padding: 20px;
    }
    .meRecommend {
        padding-top: 120px;
    }
    .h506slider2 {
        width: auto;
        height: 345px;
    }
    .iconTextRewiewsSlider2 {
        bottom: -90px;
    }
    .nameTextRewiews2 {
        right: -21px;
        top: 29px;
    }
    .ourCardAbout {
        padding-bottom: 0;
    }
    .media1085px {
        display: flex;
        justify-content: space-between;
    }
    .w60media1075 {
        width: 60%;
    }
    .w25media1075 {
        width: 25%;
    }
}

@media (max-width: 1038px) {
    .sliderLicense25 {
        width: 50%!important;
    }
    .block_imgSliderLicense {
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 987px) {
    .pl110 {
        padding-right: 20px;
    }
    .pr110media1127px {
        padding-left: 20px;
    }
}

@media (max-width: 944px) {
    .w100media944px {
        width: 100%;
    }
    .media1212flex {
        align-items: center;
    }
    .centerRecommendMedia944 {
        width: 100%;
        margin-bottom: 20px;
    }
    .imageLeftMain img {
        width: 100%;
        height: 475px;
    }
    .textPhoto {
        left: 200px;
        top: 455px;
    }
    .blockAbsoluteText {
        left: 2%;
        top: 10%;
    }
    .none944 {
        display: none;
    }
    .titleBlockOurProgramms {
        align-items: flex-end;
    }
    .noneBr {
        display: block;
    }
    .titleSlider {
        display: none;
    }
    .sBlockOur {
        margin-bottom: 25px;
    }
    .imageLeftMainIndex img {
        height: auto;
    }
    .blockAbsoluteTextIndex {
        left: 20%;
        top: 12%;
    }
    .blockAbsoluteTextIndex {
        font-size: 34px;
    }
    .subtitleMainSectionIndex {
        top: 50px;
        font-size: 30px;
    }
    .textPhotoIndex {
        left: 140px;
        top: 460px;
    }
    .accordianOffer {
        padding-top: 0;
    }

}

@media (max-width: 890px) {
    .media1085px {
        flex-direction: column-reverse;
        align-items: center;
    }
    .w25media1075 {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .w60media1075 {
        width: 100%;
    }
}

@media (max-width: 842px) {
    .blockAbsoluteText {
        font-size: 36px;
    }
    .blockOfferMain {
        margin-left: 10px;
    }
    .more2 {
        display: flex;
    }
    .show814 {
        display: none;
        height: 80px;
    }
    .h506slider2 {
        height: 100%;
        margin: 0 20px;
    }
    .titleSection {
        margin-left: 0;
    }
}
@media (max-width: 818px) {
    .textPhoto {
        left: 320px;
        top: 370px;
    }
    .mainSectionPadding {
        flex-direction: column;
        align-items: flex-start;
    }
    .mainSection {
        height: 335px;
    }
    .fonRecomend {
        top: 500px;
    }
    .mb143 {
        margin-bottom: 20px;
    }
    .blockAbsoluteText {
        top: 10%;
    }
    .blockTextOffer {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .imageLeftMain {
        width: 100%;
    }
    .imageLeftMain img {
        height: auto;
        width: 380px;
    }
    .fonRecomend {
        top: 670px;
    }
    .w100media944px {
        justify-content: space-between;
    }
    .ourCardAbout {
        padding-top: 370px;
    }
    .mainSectionIndex {
        height: auto!important;
    }
    .blockOfferMain {
        margin-bottom: 0;
    }
    .textPhotoIndex {
        left: 293px;
        top: 622px;
    }
    .blockAbsoluteTextIndex {
        left: 35%;
    }
}

@media (max-width: 767px) {
    .burgerMenu {
        display: inline-block;
    }
    .galleryMobile {
        display: block;
    }
    .gallery {
        display: none;
    }
    .imgGallery img {
        max-width: 100%;
        height: auto;
        width: 100%;
    }
    .blockNavFooter {
        margin-bottom: 20px;
    }
    .descriptionFooter {
        margin-bottom: 0;
    }
    .d-noneMenuList767 {
        display: none;
    }
    .titleBlockTextAboutClinic {
        margin-bottom: 20px!important;
    }
    .descriptionBlockTextAboutClinic {
        margin-bottom: 20px;
    }
    .reverseFlexMedia767px {
        flex-direction: column-reverse;
    }
    .imageAboutClinic img {
        width: 100%;
    }
    .mt20media767px {
        margin-top: 20px;
    }
    .pl110 {
        padding-left: 55px;
    }
    .ml30media1127px {
        padding-left: 50px;
    }
    .pr110media1127px {
        padding-right: 20px;
        padding-left: 55px !important;
    }
    .afterLineRight {
        border-left: 1px solid #2E968C;
        border-right: none;
    }
    .stepBlockNumberRight {
        left: -38px;
        right: unset;
    }
    .subtitleStep {
        text-align: start!important;
    }
    .titleStepPage2 {
        text-align: start!important;
    }
    .iconHeaderNone img {
        display: none;
    }
    .headerMobileNone {
        display: none!important;
    }
    .me-3Media767px {
        margin-right: 1rem;
    }
    .noneBtnSocialHeader {
        display: flex!important;
    }
    .decriptionSectionThanks {
        padding: 0 20px;
    }
    .blockInfoHeader {
        margin-right: 0!important;
    }
    .textHeaderInfo {
        display: flex;
        flex-direction: column;
    }
    .w100media944px {
        flex-direction: column;
    }
    .titleSectionThanks, .decriptionSectionThanks  {
        font-size: 24px;
    }
    .descriptionBlockTextAboutClinic {
        font-size: 14px;
    }
    .titleBlockTextAboutClinic {
        font-size: 32px;
    }
    .textBlockRecommend {
        font-size: 24px;
    }
    .blockAbsoluteText {
        font-size: 28px;
    }
    .blockTextOffer {
        font-size: 28px;
    }
    .blockTextOffer span {
        font-size: 28px;
    }
    .descriptionMainSection {
        font-size: 14px;
    }
    .fonRecomend {
        top: 704px;
    }
    .blockRecommend {
        margin-bottom: 30px;
    }
    .decriptionSectionThanks {
        width: auto;
    }
    .mainSection {
        height: auto;
    }
    .meRecommend {
        padding-top: unset;
    }
    .mainSectionPadding {
        padding-top: 40px;
    }
    .imageLeftMain img {
        height: auto;
        width: 380px;
    }
    .textPhoto {
        left: 325px;
        top: 320px;
    }
    .blockAbsoluteText {
        left: 13px;
    }
    .blockAbsoluteText {
        top: 5%;
    }
    .fonRecomend {
        display: none;
    }
    .ourCardAbout {
        padding-top: 0;
    }
    .ourCardAbout {
        padding-bottom: 100px;
    }
    .cardHistory {
        width: 50%;
    }
    .borderBlockHistory {
        border-top: none;
        border-bottom: none;
    }
    .borderHistoryRight {
        border-right: none;
    }
    .nameStep {
        padding-left: 30px;
        left: 0;
    }
    .none767px {
        display: none!important;
    }
    .blockAbsoluteTextIndex {
        left: 305px;
        top: 33%;
    }
    .textPhotoIndex {
        left: 293px;
        top: 600px;
    }
    .subtitleMainSectionIndex {
        display: none;
    }
    .show767px {
        display: block;
    }
}

@media (max-width: 705px) {
    .w50media1200 {
        width: 100%;
    }
    .mb90media1200_2 {
        margin-bottom: 90px;
    }
}

@media (max-width: 626px) {
    .swiper {
        width: auto;
    }
    .swiper-slide {
        padding-left: 20px !important;
    }
    .iconSlider {
        left: 15px !important;
        top: 5px !important;
    }
    .textSlider {
        top: 60px;
        position: relative;
    }
    .subtitleSectFz {
        font-size: 14px;
    }
    .pCardFzRight {
        padding: 15px 0 15px 15px;
    }
    .pCardFzLeft {
        padding: 15px 0 15px 15px;
    }
    .titleSectfz {
        font-size: 20px;
    }
    .mt70 {
        margin-top: 25px;
    }
}

@media (max-width: 594px) {
    .titleSectionOurCardBlock {
        text-align: end;
    }
}

@media (max-width: 559px) {
    .mt70 {
        margin-top: 0;
    }
}

@media (max-width: 534px) {
    .sliderLicense25 {
        width: 100%!important;
    }
    .license .itc-slider-wrapper {
        padding: 0!important;
    }
}

@media (max-width: 515px) {
    .locationHeader svg {
        display: none;
    }
    .textPhoto {
        left: 155px;
        top: 255px;
    }
    .blockAbsoluteText {
        width: 343px;
    }
    .imageLeftMain img {
        height: 280px;
        width: 220px;
    }
    .blockBg {
        width: 124.265px;
        height: 67.119px;
    }
    .textBg {
        font-size: 10px;
        width: 80px;
    }
    .offerBtnBLue, .blockBtnOffer  {
        width: 100%;
    }
    .textHeaderInfo {
        font-size: 10px;
    }
    .socialNetworksHeader a img {
        max-width: 65%;
        height: auto;
    }
    .socialNetworksHeader button {
        width: 24px;
        height: 24px;
    }
    .btnSocialHeader a {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .logo {
        width: 25%;
    }
    .logo img {
        max-width: 100%;
        height: auto;
    }
    .blockTextOffer {
        font-size: 20px;
    }
    .blockTextOffer span {
        font-size: 20px;
    }
    .offerBtnBLue {
        font-size: 14px;
        margin-right: 0!important;
    }
    .mediaMb16px {
        margin-bottom: 16px;
    }
    .blockAbsoluteText {
        width: auto;
    }
    .imageLeftMainIndex img {
         height: 438px;
         width: unset;
        max-width: 100%;
    }
    .textPhotoIndex {
        left: 195px;
        top: 450px;
    }
    .blockAbsoluteTextIndex {
        left: 235px;
        top: 20%;
    }
}

@media (max-width: 440px) {
    .mt80 {
        margin-top: 55px;
    }
}

@media (max-width: 405px) {
    .consult_special {
        font-size: 24px;
    }
}